header {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    color: white;
    height: 250px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
}

.nav-list {
    display: flex;
    flex-direction: row;
    color: white;
    right: 10px;
}
.nav-list li {
    margin: 5px;
}
header section {
    display: flex;
    flex-direction:column;
    align-items: flex-end; 
    justify-content: space-between;
}
.cool-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 5px solid black;
    background-color: darkblue;
    color: white;
    font-size: 70px;
}

.about-me {
    height: 200px;
    display: flex;
    border: 5px solid black;
    margin: 10px;
    background-color: darkblue;
    flex-direction: column;
    align-items: center;
}
.about-me h3 {
    font-size: 40px;
    color: white;
}

.about-me p {
    font-size: 20px;
    color: white;
}

.name {
    font-size: 80px;
    top: 30px;
}
.avatar {
    width: 140px;
    height: 230px;
}
.work-section {
    display: flex;
    height: 900px;
    border: 5px solid black;
    margin: 10px;
    background-color: darkblue;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 60px;
    color: white;
}
.application-1 {
    font-size: 20px; 
}
.fpcontainer {
  display: flex;
  flex-direction: column;
}
.anchor {

}
.first-project {
    width: 200px;
    height: 300px;
}


.app-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: auto;
}

.app-list li {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.anchor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-image {
    width: 80%;
    height: 80%;
    border: 5px solid black;
}

.app-image:hover {
    width: 90%;
    height: 90%;
}

.app-title {
    color: white;
    top: 30px;
    left: 30px;
    font-size: 20px;
    background-color: darkblue;
    
}

.resume {
    height: 200px;
    border: 5px solid black;
    margin: 10px;
    background-color: darkblue; 
    font-size: 60px;
}

.contact {
    height: 200px;
    border: 5px solid black;
    margin: 10px;
    background-color: darkblue;
}
@media screen and (max-width: 900px) {
    .name {
        font-size: 50px;
    }
    .cool-title {
        font-size: 50px;
    }
    .app-title {
        font-size: 15px;
    }
}

